body{
    background-image: url(https://wallpaperaccess.com/full/192253.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
@font-face {
    font-family: hammad;
    src: url("./Anton-Regular.ttf");
}


h1{
    display: flex;
    justify-content: center;
    font-family: 'hammad';
    color: white;
    letter-spacing: 3px;
}
h2{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    
}

input{
    margin-left: 380px;
    width: 450px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 0px 10px;
    font-size: 15px;
   
}
button{
    padding: 8px   20px;
    border-radius: 10px;
    border: none;
}
#h13 {
    margin-left: 340px;
    
    background-color: white;
    
    font-size: 20px;
    
    color: rgb(0, 0, 0);
    width: 450px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
   
}
#h11{
    color: rgb(0, 0, 0);
    padding: 13px   5px;
    border-radius: 10px;
    border: none;
    position: relative;
    left: 875PX;
    bottom: 38px;
    
}
#h12{
    color: rgb(0, 0, 0);
    padding: 13px   8px;
    border-radius: 10px;
    border: none;
    position: relative;
    left: 775PX;
    bottom: 38px;
} 
button:hover{
    background-color: rgb(97, 97, 97);
    color: white;
}
#h11:hover{
    color: white;


}

#h12:hover{
    color: white;
   
}
h2{
    background-color: black;
    border-radius: 50px;
    padding: 10px 10px;
}